.container-fluid {
	background-color: #fff;
}
.wrapper {
	border: 1px solid #a8a4a4;
	border-radius: 3px;
	width: 500px;
	margin: 10px auto 0 auto;
}
header{
	background-color: #619af4;
	padding-top: 10px;
	padding-bottom: 10px;
}
h1 {
	padding-left: 10px;
}

ul {
	list-style: none;
	padding-left: 0;
	
}

li {
	border-top: 1px solid #dbdbdb;
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5em;
	color: #603838;
	background-color: #fcf9f9;
}

.delete {
	color: red;
	text-align: right;
	display: inline-block;
}

.newItemWrapper {
	border-top: 1px solid #fcf9f9;
	background-color: #619af4;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;

}
input {
	width: 300px;
	height: 30px;
	border: 1px solid #fcf9f9;
	padding-left: 10px;
	margin-right: 10px;
}

button {
	width: 80px;
	height: 30px;
}